<?xml version="1.0"?>
<configuration>
  <!--<appSettings>
    <add key="Icon" value="pack://application:,,,/Nova;component/Resources/search.png"/>
    <add key="SingleInstance" value="true"/>
  </appSettings>-->
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
